html{
	height: 100%;
	box-sizing: border-box;
}
*, *:after, *:before{
	box-sizing: inherit;
}
body{
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 26px;
	height: 100%;
}
.page-header{
	padding: 33px 43px 27px 100px;
	display: flex;
	align-items: center;
}
.logo{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 28px;
	line-height: 47px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-transform: uppercase;
	margin-right: 200px;
}
.logo span{
	font-size: 12px;
	line-height: 15.5px;
	font-weight: 400;
}
.main-mav ul,
.user-buttons{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}
.cart, .search{
	margin-right: 15px;
}
.user-buttons{
	margin-left: auto;
}
.main-nav-list li a{
	padding-right: 65px;
	text-decoration: none;
	color: black;
}
#user-buttons ul{
	display: none;
	background-color: #d5d5d5;
	position: absolute;
	top: 100%;
}
#user-buttons li:hover ul 
{ display: block; }
#user-buttons, #user-buttons ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#user-buttons {
	height: 30px;
	padding-left: 0px;
	min-width: 400px;
}
#user-buttons li {
	float: left;
	position: relative;
	height: 100%;

}
#user-buttons li a {
	display: block;
	padding: 10px;
	width: 40px;
	color: transparent;
	text-decoration: none;
	text-align: center;

}
#user-buttons .burger li a{
	width: 70px;
}
#user-buttons li:hover { background-color:#d5d5d5 ;}

.main{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.icons{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 5%;

}
.icons img{
	padding-top: 40px;
}
.main .icons p{
	transform: rotate(270deg);
	width: 70px;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 40px;
	width: 200px;
}
.image1{
	position: relative;
	width: 100%;
}
.items{
	width: 95%;
}
.image1 .text{
	text-transform: uppercase;
	position: absolute;
	top: 20%;
	right: 6%;
	font-size: 80px;
	line-height: 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.image1 img{
	width: 100%;
}
.image2 img{
	position: absolute;
	bottom: 0;
	right: 15%;
	width: 20%;
	height: 42%;
	margin-bottom: 9px;
}
.image3 img{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20%;
	height: 42%;
	margin-bottom: 9px;
}
.image1 span{
	position: absolute;
	font-size: 14px;
	bottom: 30%;
	right: 36.5%;

}
.arrow1 img{
	width: 25px;
	height: 25px;
	position: absolute;
	bottom: 48%;
	right: 48%;
	border: 1px solid black;
	border-radius: 100%;
	padding: 6px;

}
.heart img{
	width: 25px;
	height: 25px;
	position: absolute;
	bottom: 48%;
	right: 45%;
	border: 1px solid black;
	border-radius: 100%;
	padding: 6px;
}
.it img{
	width: 25px;
	height: 25px;
	position: absolute;
	bottom: 48%;
	right: 42%;
	border: 1px solid black;
	border-radius: 100%;
	padding: 6px;
}
.shop-now{
	position: absolute;
	bottom: 20%;
	right: 43%;
	height: 4%;
	width: 7%;
	text-align: center;
	color: white;
	background: black;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 8px;
	font-weight: 600;

}
.name{
	position: absolute;
	bottom: 53%;
	right: 38%;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
}
.number{
	position: absolute;
	bottom: 53%;
	right: 48.8%;
	font-size: 16px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}
.offer{
	position: absolute;
	right: 1%;
	color: white;
	bottom: 31%;
	font-size: 25px;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	line-height: 30px;
}
.text2{
	position: absolute;
	bottom: 30%;
	right: 37%;
	line-height: 20px;
}
.black{
	position: absolute;
	bottom: 26%;
	right: 10%;
	font-size: 15px;
	color: white;
}
.price1{
	position: absolute;
	bottom: 20%;
	right: 16%;
	font-size: 15px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-decoration: line-through;
}
.price2{
	position: absolute;
	bottom: 20%;
	right: 12%;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	font-weight: 600;
}
.shop-now2{
	position: absolute;
	bottom: 20%;
	right: 3%;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	text-transform: uppercase;
	background: #fc9;
	border-radius: 100px;
	text-align: center;
	width: 7%;
	font-weight: 500;
	color: white;
}
.hours{
	position: absolute;
	display: block;
	font-size: 30px;
	color: black;
	height: 9%;
	width: 4.5%;
	bottom: 7%;
	right: 14%;
	background: white;
	line-height: 5px;
	border-radius: 7px;
	text-align: center;
	padding-top: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.hours p{
	font-size: 10px;
	background: white;
	line-height: 12px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;

}
.minutes{
	position: absolute;
	display: block;
	font-size: 30px;
	color: black;
	height: 9%;
	width: 4.5%;
	bottom: 7%;
	right: 8%;
	background: white;
	line-height: 5px;
	border-radius: 7px;
	text-align: center;
	padding-top: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.minutes p{
	font-size: 10px;
	background: white;
	line-height: 12px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;

}
.seconds{
	position: absolute;
	display: block;
	font-size: 30px;
	color: black;
	height: 9%;
	width: 4.5%;
	bottom: 7%;
	right: 2%;
	background: white;
	line-height: 5px;
	border-radius: 7px;
	text-align: center;
	padding-top: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
.seconds p{
	font-size: 10px;
	background: white;
	line-height: 12px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.header2{
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav2 ul{
	list-style: none;
	display: flex;
}
.main-nav-list1 li a{
	padding-right: 85px;
	text-decoration: none;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
.main-main{
	margin-right: 12%;
	margin-left: 12%;
	position: relative;
}
.main2{
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	flex-direction: row;

}
.main2 .column{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 50%;
	height: 100%;
	margin: 10px;
	margin-top: 0;
	margin-bottom: 0;

}
.main2 .column img{
	display: flex;
	width: 100%;
	height: 100%;
	margin-bottom: 2%;


}
.main2 .column2 {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 60%;
	height: 110%;
	margin: 10px;
	margin-top: 0;
	margin-bottom: 2%;
}
.main2 .column2 img{
	width: 100%;
	height: 100%;
}
.image-main{
	width: 100%;
	height: 100%;
	margin-bottom: 0;
}
.image-main img{
	display: flex;
	width: 100%;
	height: 100%;

}
.main2 .column p{
	position: absolute;
}

.imm{
	width: 100%;
	height: 200px;
	background: #00b7db;
	margin: 10px;
	margin-bottom: 5%;
	position: relative;


}
.imagee5{
	position: relative;
}
.winter{
	position: absolute;
	top: 20%;
	left: 7%;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}
.vintage{
	position: absolute;
	top: 30%;
	left: 7%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 15px;
}
.shopp{
	position: absolute;
	top: 45%;
	left: 7%;
	height: 8%;
	width: 20%;
	text-align: center;
	color: white;
	background: black;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 8px;
	font-weight: 600;
}
.new{
	position: absolute;
	top: 2%;
	right: 2%;
	height: 7%;
	width: 7%;
	text-align: center;
	color: white;
	background: black;
	text-transform: uppercase;
	font-size: 8px;
	font-weight: 600;
}
.imagee6{
	width: 40%;

}
.imagee6 img{
	position: absolute;
	height: 200px;

}
.im{
	width: 100%;
	height: 100%;
	background: #f9f9f9;
	margin-bottom: 2%;
	margin-top: 0;
	position: relative;
}
.im p{
	position: absolute;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	bottom: -7%;
	left: 35%;
	line-height: 12px;
	font-size: 10px;
}
.imagee4{
	position: relative;
}
.sale{
	position: absolute;
	bottom: -10%;
	left: 20%;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 11px;
}
.salee{
	position: absolute;
	top: 17%;
	right: 12%;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size:18px ;
	letter-spacing: 1px;
}
.off{
	position: absolute;
	top: 32%;
	right: 15%;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size:12px ;
	letter-spacing: 2px;
}
.collection{
	position: absolute;
	bottom: 23%;
	right: 20%;
	height: 14%;
	width: 20%;
	text-align: center;
	color: black;
	background: white;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 500;
}
.header3{
	line-height: 20px;
}
.header3 h2{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;

}
.header3 h3{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
}
.main-main1{
	margin-right: 12%;
	margin-left: 12%;
	position: relative;
}
.main3{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;

}
.prod1, .prod2, .prod3{
	width: 30%;
	height: 100%;
	margin: 4px;
	position: relative;

}
.prod1 img{
	width: 104%;
	height: 104%;
}
.prod2 img{
	width: 100%;
	height: 100%;
}
.prod3 img{
	width: 95%;
	height: 95%;
}
.men, .women, .kids{
	position: absolute;
	bottom: 10%;
	right: 35%;
	height: 10%;
	width: 33%;
	padding-top: 2px;
	text-align: center;
	color: white;
	background: black;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 8px;
	font-weight: 500;
}
.header4 h2{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 50px;
	text-decoration: none;
	letter-spacing: 1px;

}
.list1{
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-main2{
	margin-right: 12%;
	margin-left: 12%;
	position: relative;
}
.main-main2 .footer{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.footer{
	text-align: center;
	padding-top: 7px;
	width: 18%;
	height: 40px;
	color: black;
	background: white;
	margin-left: 40%;
	color: #232323;
	border: 1px solid #ffc900;
	font-size: 12px;
	border-radius: 100px;
	margin-bottom: 50px;
	margin-top: 20px;
}
a{
	text-decoration: none;
	color: black;
}

.main4{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
}
.feat1, .feat2, .feat3,.feat4{
	width: calc(25% - 20px);
	height: 100%;
	margin: 10px;
	line-height: 20px;
}

.feat1 img, .feat2 img, .feat3 img,.feat4 img{
	width: 100%;
	position: relative;
}
.f1{
	font-family: 'Calibri';
	font-weight: 700;
	font-size: 16px;
}
.f2{
	font-family: 'Calibri';
	color: grey;
	font-weight: 500;
}
.f4{
	position: absolute;
	bottom: 13%;
	left: 5%;
}
.new1{
	text-decoration: line-through;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	margin-right: 15px;
}
.old{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.shorts{
	width: 100%;
	height: 200px;
	background: #d5d5cf;
	margin: 10px;
	margin-bottom: 5%;
	position: relative;

}
.suscribe{
	position: absolute;
	top: 15%;
	left: 10%;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size:16px ;
	letter-spacing: 1px;
}
.signup{
	position: absolute;
	top: 28%;
	left: 15%;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size:10px ;
	letter-spacing: 2px;
}
.sign{
	position: absolute;
	bottom: 23%;
	left: 20%;
	padding-top: 6px;
	height: 19%;
	width: 14%;
	text-align: center;
	color: white;
	background: black;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 500;
}
.newim{
	width: 50%;
}
.newim img{
	position: absolute;
	height: 200px;
	right: 0;

}
.main5{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 100%;
}
.blogs{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 10px;
	flex-wrap: nowrap;
}
.blogs img{
	width: 98%;
	position: relative;
	margin-left: 10px;
}
h1{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}
.blog1{
	position: relative;
}
.blog2{
	position: relative;
}
.secrets{
	position: absolute;
	width: 60%;
	height: 40px;
	bottom: -5%;
	left: 20%;
	background: white;
	line-height: 18px;
	text-align: center;
	padding-top: 5px;
}
.secrets1{
	position: absolute;
	width: 70%;
	height: 40px;
	bottom: -5%;
	left: 20%;
	background: white;
	line-height: 18px;
	text-align: center;
	padding-top: 5px;
}
.sec1{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;

}
.data{
	font-size: 13px;
	color: grey;
	font-style: italic;
}
footer{
	width: 100%;
	height: 70%;
	background: #ededed;
	margin-top: -7%;
}
.footer-list ul{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Calibri';
	font-weight: 700;
	margin-right: 40px;
}
.footer-nav-list  li{
	margin-top: 150px;
}
.all{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Calibri';
}
.all ul{
	list-style: none;
	margin-right: 10px;
}
.logo1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 28px;
	line-height: 47px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-transform: uppercase;
	margin-right: 0px;
	margin-top: 20px;
}
.logo1 span{
	font-size: 12px;
	line-height: 15.5px;
	font-weight: 400;
}
@media(min-width: 1350px){
	.image1 .text{
		font-size: 100px;
	}	
	.image1 span{
		font-size: 18px;
	}
	.offer{
		font-size: 35px;
	}
}
@media(max-width: 1350px){
	.image1 .text{
		font-size: 80px;
	}	
	.image1 span{
		font-size: 14px;
		line-height: 1.8em;
	}
	.main3 div{
		min-width: 30%;
	}
	.main4{
		min-width: 25%;
	}
	.offer{
		font-size: 25px;
	}
}
@media(max-width: 1200px){
	.image1 .text{
		font-size: 70px;
	}	
	.image1 span{
		font-size: 13px;
		line-height: 1.6em;
	}
	.main4 div{
		min-width: 30%;
	}
	.page-header{
		padding: 16px 23px 7px 60px;
	}
	.logo{
		font-size: 18px;
		line-height: 27px;
		margin-right: 90px;
	}
	.logo span{
		font-size: 14px;
		line-height: 16px;
	}
	.cart, .search{
		margin-right: 10px;
	}
	.main-nav-list li a{
		padding-right: 50px;
		font-size: 14px;
	}
	.user-buttons img{
		width: 90%;
	}

}
@media(max-width: 1050px){
	.image1.text{
		font-size: 150px;
		top: 17%;
	}	
	.image1 span{
		font-size: 12px;
		line-height: 1.4em;
	}
	.main3 div{
		min-width: 50%;
	}
	.main4 div{
		min-width: 40%;
	}
	.offer{
		font-size: 18px;
		line-height: 1.4em;
	}
	.page-header{
		padding: 14px 23px 7px 50px;
	}
	.logo{
		font-size: 16px;
		line-height: 27px;
		margin-right: 100px;
	}
	.logo span{
		font-size: 12px;
		line-height: 14px;
	}
	.cart, .search{
		margin-right: 7px;
	}
	.main-nav-list li a{
		padding-right: 40px;
		font-size: 12px;
	}
	.user-buttons img{
		width: 80%;
	}
	.image1 .text{
		top: 10%;
		font-size: 54px;
	}
	.image1 span{
		font-size: 10px;
		line-height: 1.3em;
	}	
	.main4 div{
		min-width: 50%;
	}
	.page-header{
		padding: 12px 23px 7px 20px;
	}
	.logo{
		font-size: 20px;
		line-height: 27px;
		margin-right: 100px;
	}
	.logo span{
		font-size: 14px;
		line-height: 12px;
	}

	.user-buttons img{
		width: 70%;
	}
	.images{
		width: 100%;
		display: flex;
	}
	.image2{
		width: 100%;
	}
	.image3{
		position: relative;
	}
	.image3 img{
		position: static;
		width: 100%;
		height: 100%;
		margin-bottom: 9px;
		overflow: hidden;
	}
	.image2 img{
		position: static;
		width: 100%;
		height: 100%;
		margin-bottom: 9px;
	}
	.page-header{
		padding: 12px 23px 7px 30px;
	}
	.logo{
		font-size: 24px;
		line-height: 20px;
		margin-right: 120px;
	}
	.logo span{
		font-size: 14px;
		line-height: 24px;
	}
	.cart, .search{
		margin-right: 5px;
	}
	.image1{
		width: 100%;
	}
	.images{
		width: 100%;
		display: flex;
	}
	.image2{
		width: 100%;
	}
	.image3{
		position: relative;
	}
	.image3 img{
		position: static;
		width: 100%;
		height: 100%;
		margin-bottom: 9px;
		overflow: hidden;
	}
	.image2 img{
		position: static;
		width: 100%;
		height: 100%;
		margin-bottom: 9px;
	}
	.number{
		position: absolute;
		bottom: 53%;
		right: 48.8%;
		font-size: 16px;
		font-weight: 600;
		font-family: 'Montserrat', sans-serif;
	}
	.offer{
		position: absolute;
		right: 1%;
		top: 55%;
		line-height: 30px;
		color: white;
		bottom: 31%;
		font-size: 35px;
		font-weight: 800;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		line-height: 30px;
	}
	.black{
		position: absolute;
		bottom: 26%;
		left: 60%;
		font-size: 20px;
		color: white;
	}
	.price1{
		position: absolute;
		bottom: 20%;
		right: 34%;
		font-size: 20px;
		color: white;
		font-family: 'Montserrat', sans-serif;
		text-decoration: line-through;
	}
	.price2{
		position: absolute;
		bottom: 20%;
		right: 25%;
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		font-weight: 600;
	}
	.shop-now2{
		position: absolute;
		bottom: 20%;
		right: 3%;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		text-transform: uppercase;
		background: #fc9;
		border-radius: 100px;
		text-align: center;
		width: 16%;
		font-weight: 500;
		color: white;
	}
	.hours{
		position: absolute;
		display: block;
		font-size: 35px;
		color: black;
		height: 10%;
		width: 11%;
		bottom: 5%;
		right: 30%;
		background: white;
		line-height: 5px;
		padding-top: 20px;
	}
	.hours p{
		font-size: 14px;
		background: white;
		line-height: 14px;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;

	}
	.minutes{
		position: absolute;
		display: block;
		font-size: 35px;
		color: black;
		height: 10%;
		width: 11%;
		bottom: 5%;
		right: 16.5%;
		background: white;
		line-height: 5px;
		border-radius: 10px;
		text-align: center;
		padding-top: 30px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
	}
	.minutes p{
		font-size: 14px;
		background: white;
		line-height: 12px;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;

	}
	.seconds{
		position: absolute;
		display: block;
		font-size: 35px;
		color: black;
		height: 10%;
		width: 11%;
		bottom: 5%;
		right: 3%;
		background: white;
		line-height: 5px;
		padding-top: 30px;
	}
	.seconds p{
		font-size: 14px;
		background: white;
		line-height: 15px;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
	}
	.main-nav-list li a{
		visibility: hidden;
		display: none;

	}
	.page-header{
		position: relative;
	}
	.user-buttons ul{
		display: none;
		background-color: #d5d5d5;
		position: absolute;
		top: 100%;
		right: 40%;
	}
	#user-buttons li:hover ul 
	{ display: block; }
	#user-buttons, #user-buttons ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	#user-buttons {
		height: 30px;
		padding-left: 0px;
		min-width: 400px;
	}
	#user-buttons li {
		float: left;
		position: relative;
		height: 100%;
		z-index: 1;

	}
	#user-buttons li a {
		display: block;
		font-size: 14px;
		width: 70px;
		color: black;
		text-decoration: none;
		text-align: center;

	}
	#user-buttons li:hover { background-color:#d5d5d5 ;
		object-fit: cover;
	}
	.icons{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 6%;
		margin-bottom: 600px;

	}
	.icons img{
		padding-top: 15px;
		width: 90%;
	}
	.main .icons p{
		transform: rotate(270deg);
		width: 50px;
		text-transform: uppercase;
		font-size: 14px;
		margin-top: 0;
		width: 200px;
	}
	.arrow1 img{
		width: 25px;
		height: 25px;
		position: absolute;
		top: 27%;
		right: 48%;
		padding: 6px;

	}
	.heart img{
		width: 25px;
		height: 25px;
		position: absolute;
		top: 27%;
		right: 42%;
		padding: 6px;
	}
	.it img{
		width: 25px;
		height: 25px;
		position: absolute;
		top: 27%;
		right: 36%;
		padding: 6px;
	}
	.shop-now{
		position: absolute;
		top: 25%;
		right: 12%;
		height: 4%;
		padding-top: 8px;
		width: 15%;
		font-size: 14px;
	}
	.name{
		position: absolute;
		top: 23%;
		right: 30%;
		font-size: 16px;
	}
	.number{
		position: absolute;
		top: 23%;
		right: 49%;
		font-size: 16px;
	}
	.text2{
		top: 32%;
		right: 31%;
		font-size: 14px;
	}
	.main-nav-list1 li a{
		padding-right: 20px;
		font-size: 16px;

	}
	.main2{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.imm{
		width: 100%;
		height: 150px;
		background: #00b7db;	
		margin-bottom: 10%;
		position: relative;
	}

	.salee{
		position: absolute;
		top: 17%;
		right: 3%;
		font-size:18px ;
		letter-spacing: 1px;
	}
	.off{
		top: 35%;
		right: 7%;
		font-size:14px ;
		letter-spacing: 1px;
	}
	.collection{
		position: absolute;
		bottom: 15%;
		right: 9%;
		height: 22%;
		width: 37%;
		font-size: 14px;
	}
	.imagee6 img{
		position: absolute;
		left: 0;
		height: 150px;
		width: 60%;
		overflow: hidden;
	}
	.men, .women, .kids{
		height: 8%;
		width: 33%;
		padding-top: 5px;
		font-size: 12px;
	}
	.footer{
		width: 33%;
	}
	.shorts{
		height: 150px;
	}
	.signup{
		position: absolute;
		top: 33%;
		left: 12%;
		font-size:14px ;
		letter-spacing: 1px;
	}
	.sign{
		position: absolute;
		bottom: 23%;
		left: 15%;
		padding-top: 0;
		height: 21%;
		width: 25%;
		font-size: 14px;
	}
	.newim{
		width: 50%;
	}
	.newim img{
		position: absolute;
		height: 150px;
		right: 0
	}
	.suscribe{
		left: 7%;
		font-size:16px ;
	}
	.blogs{
		flex-wrap: wrap;
	}
	.blog1{
		position: relative;
	}
	.blog1 img, .blog2 img{
		width: 100%;
		margin-left: -3px;
	}
	.blog2{
		position: relative;
		margin-top: 30px;
	}
	.secrets {
		left: 20%;
	}
	.secrets1{
		left: 20%;
	}
	.secrets span{
		width: 100px;
	}
	.footer-nav-list  li{
		margin-top: 100px;
	}
	.all ul{
		list-style: none;
		margin-left: -35px;
	}
	.all ul a{
		font-size: 14px;
		line-height: 8px;
	}
}
@media(max-width: 800px){
	.image1 .text{
		top: 10%;
		font-size: 37px;
	}
	.image1 span{
		font-size: 10px;
		line-height: 1.3em;
	}	
	.main4 div{
		min-width: 50%;
	}
	.page-header{
		padding: 12px 23px 7px 20px;
	}
	.logo{
		font-size: 20px;
		line-height: 27px;
		margin-right: 60px;
	}
	.logo span{
		font-size: 14px;
		line-height: 12px;
	}

	.user-buttons img{
		width: 70%;
	}
	.images{
		width: 100%;
		display: flex;
	}
	.image2{
		width: 100%;
	}
	.image3{
		position: relative;
	}
	.image3 img{
		position: static;
		width: 100%;
		height: 100%;
		margin-bottom: 9px;
		overflow: hidden;
	}
	.image2 img{
		position: static;
		width: 100%;
		height: 100%;
		margin-bottom: 9px;
	}
	.page-header{
		padding: 12px 23px 7px 30px;
	}
	.logo{
		font-size: 16px;
		line-height: 15px;
		margin-right: 80px;
	}
	.logo span{
		font-size: 10px;
		line-height: 14px;
	}
	.cart, .search{
		margin-right: 5px;
	}
	.image1{
		width: 100%;
	}
	.images{
		width: 100%;
		display: flex;
	}
	.image2{
		width: 100%;
	}
	.image3{
		position: relative;
	}
	.image3 img{
		position: static;
		width: 100%;
		height: 100%;
		margin-bottom: 9px;
	}
	.image2 img{
		position: static;
		width: 100%;
		height: 100%;
		margin-bottom: 9px;
	}
	.offer{
		right: 5%;
		bottom: 31%;
		font-size: 27px;
	}
	.black{
		position: absolute;
		bottom: 28%;
		left: 52%;
		font-size: 19px;
	}
	.price1{
		bottom: 20%;
		right: 41%;
		font-size: 18px;
	}
	.price2{
		bottom: 20%;
		right: 30%;
		font-size: 20px;
	}
	.shop-now2{
		bottom: 20%;
		right: 5%;
		font-size: 13px;
		width: 21%;
	}
	.hours{
		font-size: 34px;
		bottom: 5%;
		right: 36%;
	}
	.hours p{
		font-size: 12px;
		line-height: 14px;
	}
	.minutes{
		font-size: 34px;
		bottom: 5%;
		right: 22%;
	}
	.minutes p{
		font-size: 12px;
		line-height: 14px;
	}
	.seconds{
		font-size: 34px;
		bottom: 5%;
		right: 8%;
	}
	.seconds p{
		font-size: 12px;
		line-height: 14px;
	}
	.main-nav-list li a{
		visibility: hidden;
		display: none;

	}
	.page-header{
		position: relative;
	}
	.user-buttons ul{
		display: none;
		background-color: #d5d5d5;
		position: absolute;
		top: 100%;
		right: 40%;
	}
	#user-buttons li:hover ul 
	{ display: block; }
	#user-buttons, #user-buttons ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	#user-buttons {
		height: 30px;
		padding-left: 0px;
		min-width: 400px;
	}
	#user-buttons li {
		float: left;
		position: relative;
		height: 100%;
		z-index: 1;

	}
	#user-buttons li a {
		display: block;
		font-size: 12px;
		width: 70px;
		color: black;
		text-decoration: none;
		text-align: center;

	}
	#user-buttons li:hover { background-color:#d5d5d5 ;
		object-fit: cover;
	}
	.icons{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 5%;
		margin-bottom: 400px;

	}
	.icons img{
		padding-top: 10px;
		width: 80%;
	}
	.main .icons p{
		transform: rotate(270deg);
		width: 50px;
		text-transform: uppercase;
		font-size: 14px;
		margin-top: 0;
		width: 200px;
	}
	.arrow1 img{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 28%;
		right: 48%;
		border: 1px solid black;
		border-radius: 100%;
		padding: 4px;

	}
	.heart img{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 28%;
		right: 42%;
		border: 1px solid black;
		border-radius: 100%;
		padding: 4px;
	}
	.it img{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 28%;
		right: 36%;
		border: 1px solid black;
		border-radius: 100%;
		padding: 4px;
	}
	.shop-now{
		position: absolute;
		top: 25%;
		right: 12%;
		height: 4%;
		width: 15%;
		text-align: center;
		color: white;
		background: black;
		border-radius: 100px;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		font-size: 10px;
		font-weight: 600;

	}
	.name{
		position: absolute;
		top: 23%;
		right: 30%;
	}
	.number{
		position: absolute;
		top: 23%;
		right: 50%;
		font-size: 12px;
	}
	.text2{
		top: 33%;
		right: 27%;
		font-size: 12px;
	}
	.main-nav-list1 li a{
		padding-right: 15px;
		font-size: 14px;

	}
	.main2{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.imm{
		width: 100%;
		height: 100px;
		background: #00b7db;	
		margin-bottom: 10%;
		position: relative;
	}

	.salee{
		position: absolute;
		top: 17%;
		right: 3%;
		font-size:10px ;
		letter-spacing: 1px;
	}
	.off{
		top: 30%;
		right: 5%;
		font-size:9px ;
		letter-spacing: 1px;
	}
	.collection{
		position: absolute;
		bottom: 15%;
		right: 8%;
		height: 25%;
		width: 40%;
		font-size: 10px;
	}
	.imagee6 img{
		position: absolute;
		left: 0;
		height: 100px;
		width: 60%;
		overflow: hidden;
	}
	.men, .women, .kids{
		height: 12%;
		width: 47%;
		padding-top: 5px;
		font-size: 12px;
	}
	.footer{
		width: 33%;
	}
	.shorts{
		height: 120px;
		background: #d5d5cf;
	}
	.signup{
		position: absolute;
		top: 30%;
		left: 10%;
		font-size:10px ;
		letter-spacing: 1px;
	}
	.sign{
		position: absolute;
		bottom: 23%;
		left: 12%;
		padding-top: 0;
		height: 21%;
		width: 25%;
	}
	.newim{
		width: 50%;
	}
	.newim img{
		position: absolute;
		height: 120px;
		right: 0
	}
	.suscribe{
		position: absolute;
		top: 15%;
		left: 5%;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size:14px ;
		letter-spacing: 1px;
	}
	.blogs{
		flex-wrap: wrap;
	}
	.blog1{
		position: relative;
	}
	.blog1 img, .blog2 img{
		width: 105%;
		margin-left: -3px;
	}
	.blog2{
		position: relative;
		margin-top: 30px;
	}
	.secrets {
		left: 20%;
		min-width: 250px;
	}
	.secrets1{
		left: 20%;
	}
	.secrets span{
		min-width: 250px;
	}
	.footer-list ul{
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-weight: 700;
		margin-right: 30px;
		flex-wrap: wrap;
		font-size: 14px;
	}
	.footer-nav-list  li{
		margin-top: 70px;
	}
	.all{
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.all ul{
		list-style: none;
		margin-left: -35px;
	}
	.all ul a{
		font-size: 11px;
		line-height: 8px;
	}

}
@media(max-width: 567px){
	.image1 .text{
		font-size: 33px;
		top: 10%;
	}
	.image1 span{
		font-size: 8px;
		line-height: 1.2em;
	}	
	.main3 div{
		min-width: 100%;
	}
	.main4 div{
		min-width: 100%;
	}
	.blogs div{
		min-width: 100%;
	}
	.blogs{
		flex-wrap: wrap;
	}
	.offer{
		font-size: 10px;
		line-height: 1.2em;
	}
	.page-header{
		padding: 12px 23px 7px 30px;
	}
	.logo{
		font-size: 16px;
		line-height: 15px;
		margin-right: 80px;
	}
	.logo span{
		font-size: 10px;
		line-height: 14px;
	}
	.cart, .search{
		margin-right: 5px;
	}
	.image1{
		width: 100%;
	}
	.images{
		width: 100%;
		display: flex;
	}
	.image2{
		width: 100%;
	}
	.image3{
		position: relative;
	}
	.image3 img{
		position: static;
		width: 100%;
		height: 100%;
		margin-bottom: 9px;
		overflow: hidden;
	}
	.image2 img{
		position: static;
		width: 100%;
		height: 100%;
		margin-bottom: 9px;
	}
	.number{
		position: absolute;
		bottom: 53%;
		right: 48.8%;
		font-size: 16px;
		font-weight: 600;
		font-family: 'Montserrat', sans-serif;
	}
	.offer{
		position: absolute;
		right: 5%;
		color: white;
		bottom: 31%;
		font-size: 25px;
		font-weight: 800;
		font-family: 'Montserrat', sans-serif;
		text-transform: uppercase;
		line-height: 30px;
	}
	.black{
		position: absolute;
		bottom: 26%;
		left: 48%;
		font-size: 15px;
		color: white;
	}
	.price1{
		position: absolute;
		bottom: 20%;
		right: 44%;
		font-size: 15px;
		color: white;
		font-family: 'Montserrat', sans-serif;
		text-decoration: line-through;
	}
	.price2{
		position: absolute;
		bottom: 20%;
		right: 30%;
		color: white;
		font-family: 'Montserrat', sans-serif;
		font-size: 17px;
		font-weight: 600;
	}
	.shop-now2{
		position: absolute;
		bottom: 20%;
		right: 5%;
		font-family: 'Montserrat', sans-serif;
		font-size: 10px;
		text-transform: uppercase;
		background: #fc9;
		border-radius: 100px;
		text-align: center;
		width: 20%;
		font-weight: 500;
		color: white;
	}
	.hours{
		position: absolute;
		display: block;
		font-size: 30px;
		color: black;
		height: 12%;
		width: 12%;
		bottom: 5%;
		right: 40%;
	}
	.hours p{
		font-size: 10px;

	}
	.minutes{
		font-size: 30px;
		height: 12%;
		width: 12%;
		bottom: 5%;
		right: 25%;
		padding-top: 20px;
	}
	.minutes p{
		font-size: 10px;

	}
	.seconds{
		font-size: 30px;
		height: 12%;
		width: 12%;
		bottom: 5%;
		right: 10%;
		padding-top: 20px;
	}
	.seconds p{
		font-size: 10px;

	}
	.main-nav-list li a{
		visibility: hidden;
		display: none;

	}
	.page-header{
		position: relative;
	}
	.user-buttons ul{
		display: none;
		background-color: #d5d5d5;
		position: absolute;
		top: 100%;
		right: 40%;
	}
	#user-buttons li:hover ul 
	{ display: block; }
	#user-buttons, #user-buttons ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	#user-buttons {
		height: 30px;
		padding-left: 0px;
		min-width: 400px;
	}
	#user-buttons li {
		float: left;
		position: relative;
		height: 100%;
		z-index: 1;

	}
	#user-buttons li a {
		display: block;
		font-size: 12px;
		width: 70px;
		color: black;
		text-decoration: none;
		text-align: center;

	}
	#user-buttons li:hover { background-color:#d5d5d5 ;}
	.icons{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 5%;
		margin-bottom: 350px;

	}
	.icons img{
		padding-top: 10px;
		width: 80%;
	}
	.main .icons p{
		transform: rotate(270deg);
		width: 50px;
		text-transform: uppercase;
		font-size: 14px;
		margin-top: 0;
		width: 200px;
	}
	.arrow1 img{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 28%;
		right: 48%;
		border: 1px solid black;
		border-radius: 100%;
		padding: 4px;

	}
	.heart img{
		width: 20px;
		height: 20px;
		top: 28%;
		right: 42%;
		padding: 4px;
	}
	.it img{
		width: 20px;
		height: 20px;
		top: 28%;
		right: 36%;
		padding: 4px;
	}
	.shop-now{
		top: 25%;
		right: 12%;
		height: 5%;
		width: 15%;
		font-size: 8px;
		padding-top: 0;

	}
	.name{
		position: absolute;
		top: 23%;
		right: 30%;
		font-size: 12px;
	}
	.number{
		position: absolute;
		top: 23%;
		right: 50%;
		font-size: 12px;
	}
	.text2{
		top: 33%;
		right: 23%;
		font-size: 12px;
	}
	.main-nav-list1 li a{
		padding-right: 15px;
		font-size: 12px;

	}
	.main2{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.imm{
		width: 100%;
		height: 100px;
		background: #00b7db;	
		margin-bottom: 10%;
		position: relative;
	}

	.salee{
		position: absolute;
		top: 17%;
		right: 3%;
		font-size:10px ;
		letter-spacing: 1px;
	}
	.off{
		top: 30%;
		right: 5%;
		font-size:9px ;
		letter-spacing: 1px;
	}
	.collection{
		position: absolute;
		bottom: 15%;
		right: 12%;
		height: 25%;
		width: 40%;
		font-size: 10px;
	}
	.imagee6 img{
		position: absolute;
		left: 0;
		height: 100px;
		width: 60%;
		overflow: hidden;
	}
	.men, .women, .kids{
		height: 8%;
		width: 33%;
		padding-top: 5px;
		font-size: 12px;
	}
	.footer{
		width: 33%;
	}
	.shorts{
		height: 120px;
		background: #d5d5cf;
	}
	.signup{
		position: absolute;
		top: 30%;
		left: 10%;
		font-size:10px ;
		letter-spacing: 1px;
	}
	.sign{
		position: absolute;
		bottom: 23%;
		left: 10%;
		padding-top: 0;
		height: 21%;
		width: 25%;
	}
	.newim{
		width: 50%;
	}
	.newim img{
		position: absolute;
		height: 120px;
		right: 0
	}
	.suscribe{
		position: absolute;
		top: 15%;
		left: 3%;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;
		font-weight: 700;
		font-size:12px ;
		letter-spacing: 1px;
	}
	.blogs{
		flex-wrap: wrap;
	}
	.blog1{
		position: relative;
	}
	.blog1 img, .blog2 img{
		width: 105%;
		margin-left: -3px;
	}
	.blog2{
		position: relative;
		margin-top: 30px;
	}
	.secrets {
		left: 1.5%;
	}
	.secrets1{
		left: 1.5%;
	}
	.secrets span{
		width: 100px;
	}
	.footer-list ul{
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 0;
		padding: 0;
		list-style: none;
		font-family: 'Calibri';
		font-weight: 700;
		margin-right: 30px;
		flex-wrap: wrap;
		font-size: 14px;
	}
	.footer-nav-list  li{
		margin-top: 70px;
	}
	.all{
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 0;
		padding: 0;
		list-style: none;
		font-family: 'Calibri';

	}
	.all ul{
		list-style: none;
		margin-left: -35px;
	}
	.all ul a{
		font-size: 9px;
		line-height: 8px;
	}
	#user-buttons ul li:hover { background-color: grey;}
}